#container{
  border: 1px solid black;
  width: 960px;
  padding: 20px;
  margin: 0 auto;
}
header{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
main{
  border: 1px solid black;
  width: 620px;
  padding: 20px;
  float: left;
  margin-bottom: 20px;
}
aside{
  border: 1px solid black;
  width: 220px;
  padding: 20px;
  float: right;
  margin-bottom: 20px;
  background-color: #ccc;
}
footer{
  border: 1px solid black;
  clear: both;
  padding: 10px;
}
.greentext{
  color: green;
}