#container{
        width: 700px;
        /* 바깥여백 : 0 auto:브라우저에게 맡김 */
        margin:0 auto;
        padding: 20px;
        border: 1px solid #ccc;
      }
h1{
  margin-top: 0;
}
#dlfqjs{
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
  margin-bottom: 5px;
  overflow: hidden;
}
#dlfqjs img{
  margin: 10px;
  margin-right: 20px;
  float: left;
  width: 200px;
  height: 210px;
}
#enqjs{
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}
#enqjs li{
  margin: 3px;
}
#enqjs img{
  float: right;
  width: 250px;
  height: 150px;
}
#tpqjs{
  display: none;
}
#spqjs{
  border: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
}
table{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}
caption{
  padding: 10px;
}
table thead{
  background-color: bisque;
}
th, td{
        border:1px solid gray;
        padding: 5px 0;
}
.dlrj{
  background-color: #ccc;
}