@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
#container{
      width: 1000px;
      margin: 0 auto;
    }
    header{
      background-color: beige;
      /* padding: 10px; */
    }
    nav li{
      display: inline-block;
      padding: 5px 5px;
      margin: 10px 0px;
      border-bottom: 3px solid black;
      border-radius: 10px;
    }
    nav li:hover{
      /* hover 마우스를 올리면 */
      border-color: red;
    }
    section li{
      display: inline-block;
      padding: 10px;
      margin: 10px;
    }
    section ul{
      text-align: center;
      padding: 0px;
    }
    section a{
      text-decoration: none;
      font-weight: bold;
      display: block;
      text-align: right;
      margin-right: 20px;
    }
    a:visited{
      color: black;
      /* : 가상 클래스 */
    }
    section{
      background-color: #ddd;
      padding: 10px;
    }
    article{
      border: 1px solid #aaa;
      padding: 16px;
      /* background-color: rgba(255,255,255,0.5); */
      background-color: rgba(0,0,0,0.1);
      /* font-family: "Dongle", sans-serif; */
      border-radius: 20px;
      margin-top: 10px;
    }
    figure{
      text-align: center;
    }
    .hid{
      /* visibility: hidden; */ /*공간차지*/
      /* display: none; */ /*공간차지x*/
      opacity: 0.5;
    }
    .hid:hover{
      opacity: 1;
    }
    img{
      width:150px;
      height:150px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 1px 1px 10px 3px black;
      margin: 10px;
      opacity: 0.5;
    }
    img:hover{
      opacity: 1;
    }
    aside{
      background-color: rgb(159, 159, 218);
      padding: 10px;
      font-family: "Nanum Brush Script";
    }
    aside li{
      line-height: 1.5em;
    }
    footer{
      background-color: rgb(69, 115, 155);
      color: white;
      padding: 10px;
      text-align: center;
    }
    footer p{
      margin-top: 0;
    }
    .fixed{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: mintcream;
      text-align: center;
      line-height: 70px;
      position: fixed;
      bottom: 30px;
      right: 50px;
      border: 1px solid black;
    }
    .fixed p{
      margin: 0;
    }
    .fixed a{
      text-decoration: none;
      font-weight: bold;
    }