#container{
  width: 550px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
}
h1{
  margin-top: 0;
}
legend{
  color: purple;
  font-weight: bold;
  font-size: 20px;
}
fieldset{
  border: 1px solid black;
  margin-bottom: 10px;
}
.dlfqjs label{
  float: left;
  width: 70px;
  font-weight: bold;
}
form li{
  list-style: none;
  padding-bottom: 10px;
}
article{
  text-align: center;
  padding: 20px;
}